<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}">
  
    <link rel="stylesheet" href="{{url_for('static',filename='css/1.css')}}">
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Welcome  <span></span></h2>
            <ul>
                <li><a href="{{url_for('another')}}">Analyse</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('contact')}}">contact us</a></li>
                
        
            </ul>
            <img src="{{url_for('static',filename='img/download.png')}}"  alt="logo" style="width:50px;" class="rounded-pill">
        </nav>
        <h1>MACHINE LEARNING </h1>
        
    </div>
    <footer>
        <h3>About us</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"team python" we are members from GTEC IT final yr Vehicle performance analyser
            aslkd;asmfjsmdf;s'fdf'kdsfijd
            <br>
            team python" we are members from GTEC IT final yr Vehicle performance analyser
            aslkd;asmfjsmdf;s'fdf'kdsfijd
            team python" we are members from GTEC IT final yr Vehicle performance analyser
            aslkd;asmfjsmdf;s'fdf'kdsfijd
        </p>
    </footer> 
   
        
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle performance Analyzer</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/new.css')}}">
</head>
<body>
    <header>
        <h1>WELCOME!!!</h1>
         <nav>
            <!-- <li>Home</li>
            <li>About</li>
            <li>Contact us</li> -->
        </nav> 
    </header>
    <div class="main">
        <div class="content">

            <h1>Machine Learning Based Vehicle performance Analyzer</h1>
            <h3><span>We do you drive!!!</span></h3>
			
			<form action="\another">
					<button >click Here</button>
			</form>

        </div>
        <div class="image">
			<image src="{{url_for('static',filename='img/car.gif')}}"style="width:600px" >
        </div> 
    </div>

</body>
</html>